/* YAxis.css */

.y-axis-label {
    font-size: 10px;
    fill: #333; /* Text color */
  }
  
  .y-axis-line {
    stroke-width: 1px;
    stroke: #ebebeb;
    background-color: transparent;
  }
  

.y-axis-dashed-line {
    stroke-width: 1.5px;
    stroke: rgb(19, 33, 156);
    stroke-dasharray: 5 10; /* Controls dash pattern */
    opacity: 0.25;
  }