.App {
  width: 100%;
  overflow-x: auto;
  overflow-y: visible;
  position: relative;
}
.Legend {
  margin-bottom: -30px; 
}
.SvgTooltipWrapper{
  position: relative;
}

.bubble-label {
  font-size: 10px;
  fill: #333;
  font-weight: bold;
  text-align: center;
}
